/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.logo{
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-box{
    position: relative;
    height: auto;
    background: #1e5799;
    background: -moz-linear-gradient(top,#1e5799 0%,#d3dde5 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#1e5799),color-stop(100%,#d3dde5));
    background: -webkit-linear-gradient(top,#1e5799 0%,#d3dde5 100%);
    background: -o-linear-gradient(top,#1e5799 0%,#d3dde5 100%);
    background: -ms-linear-gradient(top,#1e5799 0%,#d3dde5 100%);
    background: linear-gradient(to bottom,#1e5799 0%,#d3dde5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799',endColorstr='#d3dde5',GradientType=0 );
    background-size: cover;
    background-position: 0px -90px;
    overflow: inherit !important;
    background-image: url(https://voopter.com.br/assets/imgs/back-search.jpg);
    
    .btn-search{
        background-color: #ffcc00;
        min-width: 196px;
        height: 96px;
        margin: 25px 0px 0px 0px;
        color: #555;
        font-weight: bold;
        transition: background-color 0.2s;
        -webkit-transition: background-color 0.2s;
        font-size: 16px;
    }
}


.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
